.artist-info {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          animation: slideIn 1s ease;
        }

        @keyframes slideIn {
           from {
        opacity: 0;
        transform: translateY(-20px);
        }
         to {
         opacity: 1;
         transform: translateY(0);
        }
    }

        .artist-image {
         width: calc(33.33% - 20px);
         text-align: center;
         position: relative; 
         margin-top: 30px;
  border-radius: 10px;
  overflow: hidden; 
                
        }

   .artist-image .label {
  position: absolute;
  top: 315px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(245 245 245); 
  color: #242424;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
  overflow: hidden; 
  z-index: 1;
}

.artist-image .label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(
    130deg,
    transparent,
    gold,
    transparent
  );
  background-size: 300% 300%;
  animation: snake-glow 2s linear infinite;
  z-index: -1;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0); 
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  box-sizing: border-box;
}

@keyframes snake-glow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

        .artist-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px; 
     border: 2px solid #ffd700;
    margin-top: 30px;
}
