       #cookie-consent-bar {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #242424; 
          color: #ffffff; 
          padding: 10px 20px;
          text-align: center;
          z-index: 9999;
	  box-shadow: 0 0 20px 5px #ffddc585;
          animation: glowPulse 2.5s infinite ease-in-out;
         }

          @keyframes glowPulse {
           0% {
           box-shadow: 0 0 10px 3px #ffddc550;
         }
           50% {
           box-shadow: 0 0 20px 6px #ffddc5aa;
         }
           100% {
           box-shadow: 0 0 10px 3px #ffddc550;
           }
         }

        #cookie-consent-bar p {
          margin: 0;
		  padding: 10px;
        }

        #cookie-consent-bar button {
          background-color: #c7c7c7; 
          color: #242424; 
          border: none;
          padding: 8px 20px;
          cursor: pointer;
          border-radius: 5px;
          transition: background-color 0.3s ease;
        }

        #cookie-consent-bar button:hover {
  background-color: #00336a; 
  color: #ffffff;            
}
