body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #c7c7c7;
            color: #242424;
        }
		
		header {
            background-color: #00326a;
            color: #fff;
            text-align: center;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        header img {
            max-width: 60px;
            margin-left: 20px;
            animation: fadeIn 1s ease;
			transition: transform 0.3s ease;
        }

        @keyframes fadeIn {
            from {
            opacity: 0;
        }
            to {
            opacity: 1;
        }
    }

        nav ul {
            list-style-type: none;
			align-items: center;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
            position: relative; 
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            position: relative;
        }

        nav ul li a::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: #fff;
            transition: width 0.3s ease;
        }

        nav ul li a:hover::after {
            width: 100%;
        }
        
        main {
            padding: 20px;
        }
		
		footer {
               background-color: #00326a;
               color: #fff;
               text-align: center;
               padding: 10px 5px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding-left: 30px;
               padding-right: 30px;
			   margin-top: 10px;
        }
		
		footer p {
			   font-size: 15px;
               line-height: 1.6;
			   color: #fff;
	    }
	
		.footer-spacer {
               flex: 1;
               margin: 0 5px;
        }

        .footer-content {
               display: flex;
               align-items: center;
        }

        .footer-content p {
               margin: 0;
        }

        @media only screen and (max-width: 768px) {
        .footer-content p {
               font-size: 10px;
        }
    }
	
	    .social-icons img {
           max-width: 30px;
           margin-right: 10px;
		   transition: transform 0.3s ease;
        }

        .social-icons img:hover {
               transform: scale(0.9); 
        }
		
		h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        ul {
            margin-bottom: 20px;
        }

        li {
            margin-bottom: 10px;
        }
		
		.language-switcher {
            display: flex;
            margin-right: 30px;
            animation: appear 0.5s ease forwards; 
            opacity: 0; 
        }

        @keyframes appear {
            from {
            opacity: 0; 
            transform: translateY(-20px); 
        }
            to {
            opacity: 1; 
            transform: translateY(0); 
        }
    }

        .language-link img {
            width: 40px;
            height: 40px;
            margin-right: -20px;
            transition: transform 0.3s ease; 
        }

		 footer a {
            color: #fff;
            text-decoration: none;
			font-size: 12px;
		}
		
		main a {
            color: #000000;
            text-decoration: none; 
			font-size: 12px;
        }
		
