         .news-feed {
           display: flex;
		   overflow-x: auto;
           gap: 20px;
           padding: 20px;
           background-color: #fff;
           border-radius: 5px;
        }

        #news {
           position: relative;
        }
		
		.news-feed::-webkit-scrollbar {
           height: 10px;
		 
        }

        .news-feed::-webkit-scrollbar-track {
           background: #c7c7c7;
		   border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .news-feed::-webkit-scrollbar-thumb {
           background: #000000d1;
			border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .news-feed::-webkit-scrollbar-thumb:hover {
           background: #00336a;
        }

        .news-item {
           flex: 0 0 auto;
           border: 1px solid #ccc;
           border-radius: 5px;
           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
           max-width: 500px; 
        }

        .news-item p {
           font-size: 16px;
           line-height: 1.6;
           color: #242424; 
        }

        .news-item:hover {
           box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        .news-item img {
           width: 100%; 
           height: auto; 
           border-radius: 5px 5px 0 0; 
        }

        .news-item p {
           padding: 10px; 
           margin: 0; 
           background-color: #fff; 
           border-radius: 0 0 5px 5px; 
	   text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        }
		
	.news-item {
           animation: fadeInUp 0.5s ease-out;
        }

        .time {
           font-style: italic;
           font-size: 14px;
           color: #242424;
           display: inline-block; 
           margin-bottom: 15px;
           margin-left: 100px;
           font-weight: bold; 
           text-transform: uppercase; 
           letter-spacing: 1px; 
           line-height: 1.2;
           padding: 10px 20px; 
           border-radius: 10px; 
           background-color: #c7c7c7; 
       }
